<html>
<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
</head>
<body>
<!-- Plotly chart will be drawn inside this DIV -->
<div id="myDiv" style="width:480px; height:400px;"></div>
<script src="https://www.google.com/jsapi"></script>
  <script>
  var elevator
  	function initMap() {
		elevator = new google.maps.ElevationService;

		var z_data=[]; var x_data=[]; var y_data=[];

	  {% for s in syrus_data %}
	  x_data.push({{s.longitude}});
	  y_data.push({{s.latitude}});
	  var location = {lat: {{s.latitude}}, lng: {{s.longitude}}};

	  elevator.getElevationForLocations({
          'locations': [location]
        }, function(results, status) {
          if (status === 'OK') {
            // Retrieve the first result
            if (results[0]) {
            	z_data.push(results[0].elevation)
            } else { //si vacio
                z_data.push(0)
            }
          } else { //si falla por otra cosa
            z_data.push(0)
          }
        });
	  {% endfor %}

	var data = [{
			   x: x_data, y: y_data, z: z_data,
	           name: '',
	           showscale: false,
	           type: 'mesh3d'
	        }];
	console.log(data)
	var layout = {
	  title: '3D',
	  autosize: true,
	  zoom: 'auto',
	  width: 600,
	  height: 600,
	  margin: {
	    l: 65,
	    r: 50,
	    b: 65,
	    t: 90,
	  }
	};
	Plotly.newPlot('myDiv', data, layout);
	}

  </script>

    <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf8jZcZuQrOVqDTov37awP6tPLUHw_NAU&callback=initMap">
  </script>
</body>
</html>