{% extends "header.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
{% csrf_token %}
<style>
#map {
	position: relative;
	padding-bottom: 25;
	height: 0;
	overflow: hidden;
}
</style>

<div class="content-section-b">
	<div class="container">
	<h3>Última Posición Registrada</h3>
	<br>
	</div>
</div>

<div id="map"></div>


<script>
var poly;
var marker;
var map;
var coordenadas = [];
var fecha = '{{s.date|date:'H:i:s'}}';
function initMap() {
  //var coordenadas = []; //[{lat: 37.772, lng: -122.214}];
  coordenadas.push({lat: {{s.latitude}}, lng: {{s.longitude}}});

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 18,
    center: coordenadas[0],
    zoomControl: true,
    zoomControlOptions: {
        position: google.maps.ControlPosition.LEFT_CENTER
    },
    scaleControl: true,
    streetViewControl: false,
  });
  trazarRecorrido(coordenadas);
}

function trazarRecorrido(coordenades) {
	if (coordenades == undefined) {coordenades = [{lat: 37.772, lng: -122.214}];console.log("trazarRecorrido(coordenades) coordenades undefined")}
	console.log("que pasa?")
    poly = new google.maps.Polyline({
    path: coordenades,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0, 	
    strokeWeight: 2
  });
  var numDatos = Object.keys(coordenades).length;
  var index_centro = parseInt(numDatos/2);
  console.log("que pasa 2?")

  marker = new google.maps.Marker({
    position: coordenades[numDatos-1],
    title: 'Hora: ' + fecha,
    map: map
  });
  //map.setCenter = coordenades[index_centro];
  poly.setMap(map);
  console.log("que pasa3?")
}


function puntos(){
	marker.setMap(null);
	var punto = document.getElementById("points").value;
	marker = new google.maps.Marker({
		position: coordenadas[punto-1],
		map: map
	});
}
var current_id = {{ s.id }};
setInterval(function() {
    $.ajax({
        type: "GET",
        url: {% url 'update' %}/,
        data: {'current_id':current_id}
    })
    .done(function(response) {
    	//console.log(typeof(response))
    	console.log(response)
    	if (response == "no"){}
    	else{
    		//run();
    		//puntos();
        	//$('#replace_here').replaceWith(response);
        	console.log("nuevo punto")
        	//console.log((response['puntos']).split(/['']/));
        	poly.setMap(null);
        	marker.setMap(null);
        	coordenadas.push(eval(response['puntos']));
    			current_id = response['id'];
    			fecha = response['date'];
    			trazarRecorrido(coordenadas);
    	}
    });
}, 5000)

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf8jZcZuQrOVqDTov37awP6tPLUHw_NAU&callback=initMap"></script>


{% endblock %}


